.Alarm-container{
    display: none;
}
.Alarm-container{
    width: 100%;
    justify-content: center;
    align-items: self-start;
}


.alarm-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#alarm-time{
    margin-top: 10px;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
}
#alarm-list{
    overflow-x: auto;
    height: 80vh ;
}
#alarm-clock {
    margin-top: 10px;
    font-size: 2rem;
}
.list-group{
display: flex;
justify-content: space-around;
width: 300px;
background-color: rgba(255, 255, 255, 0.368);
padding: 33px;
border-radius: 10px;
margin: 10px ;
}

.toggle.on {
    background-color: #4CAF50; /* Green */
    color: white;
}

.toggle.off {
    background-color: #808080; /* Gray */
    color: white;
}

.alarm-btns {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#stop-alarm,
#snooze-alarm {
    width: 150px;
}


