@media screen and (max-width: 768px) {
    .site-title {
  
        margin-top: 38px;
    }
    .hamburger {
        display: block; 
        z-index: 2;
    }

    .sidebar-conaiter {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
       
        z-index: 1;
        display: none;
    }
    #location-list{
        height: 50vh ;
    }
    .clock-main-contianer {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

}